.header{
  padding: 0 20px;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 5px 0px #e4e6f0;
  position: relative;
  z-index: 3;
  :global{
    .right{
      ul{
        display: flex;
        li{
          display: flex;
          align-items: center;
          margin: 0 10px
        }
      }
    }
  }
}